/*box-shadow rgb(205, 228, 230)*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #f0fafb;
  font-family: "Spartan", sans-serif;
}
/* start filtered Bar */

.filteredBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0px 10px 8px rgb(205, 228, 230);
  background-color: white;
  height: 5rem;
  width: 80%;
  margin: 0 auto -3.5rem auto;
  padding: 10px 30px;
  position: relative;
  top: -40px;
}
.clear {
  color: #8b8f8e;
  font-weight: bold;
}
.clear:hover {
  color: hsl(180, 29%, 50%);
  cursor: pointer;
  text-decoration: underline;
}
.disable {
  display: none;
}
@media (max-width: 1142px) {
  .filteredBar {
    width: 60%;
  }
}
@media (max-width: 693px) {
  .filteredBar {
    width: 80%;
  }
}
/* end filtered Bar */

/* start Job Item List */
.JobItemList:first-of-type {
  margin-top: 4rem;
}
.JobItemList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  box-shadow: 5px 10px 8px rgb(205, 228, 230);
  background-color: white;
  height: 10rem;
  width: 80%;
  margin: 0 auto 1.5rem auto;
  padding: 10px 30px;
  position: relative;
}

.pseudo::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 5px;
  background-color: #5aa6a2;
  left: 0px;
  border-radius: 5px 0 0 5px;
}
.LeftItem {
  display: flex;
  align-items: center;
  height: 100%;
}
.LeftItem-col {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;
  margin-left: 1.4rem;
}
.company {
  font-weight: 700;
  text-align: left;
  color: hsl(180, 29%, 50%);
}
.new {
  color: #e9ffff;
  background-color: hsl(180, 29%, 50%);
  border-radius: 23px;
  margin-left: 1rem;
  padding: 7px;
  font: 0.7em sans-serif;
  display: inline-block;
}
.featured {
  color: #e9ffff;
  background-color: #2f3e3b;
  border-radius: 25px;
  margin-left: 1rem;
  padding: 7px;
  font: 0.7em sans-serif;
  display: inline-block;
}
.position {
  font-weight: 700;
  font-size: 20px;
  color: #1d2726;
  cursor: pointer;
}
.position:hover {
  color: hsl(180, 29%, 50%);
}
.bottomItem {
  color: #8b8f8e;
  padding-left: 0;
  margin: 0px;
  display: flex;
  list-style: none;
}
.bottomItem li:not(:first-child) {
  margin-left: 15px;
}
.RightItem .container,
.dataType {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: space-between;
  flex-direction: row;
}
.r-item {
  margin-right: 15px;
  font-weight: 700;
  padding: 8px;
  cursor: pointer;
  background-color: rgb(238, 248, 247);
  color: hsl(180, 29%, 50%);
  border-radius: 5px;
}
.RightItem .r-item:hover {
  background-color: hsl(180, 29%, 50%);
  color: #e3f6fa;
}
@media (max-width: 1294px) {
  .JobItemList {
    font-size: small;
  }
  .position {
    font-size: large;
  }
}
@media (max-width: 1142px) {
  .JobItemList {
    width: 60%;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 0.7rem auto;
    height: fit-content;
  }

  .LeftItem-col {
    margin: 0.7rem;
  }
  .break-line {
    border-top: 1px solid #d9dcdb;
    width: 100%;
    margin: 0.7rem 0;
  }
  .position {
    margin: 0.7rem 0;
    text-align: start;
    font-size: medium;
  }
  .RightItem .r-item {
    margin-bottom: 0.7rem;
  }
}
@media (max-width: 693px) {
  .JobItemList {
    width: 80%;
    position: relative;
    margin: 3.5rem auto;
  }
  .logo {
    position: absolute;
    top: -40px;
  }
  .LeftItem {
    flex-direction: column;
    align-items: flex-start;
  }
  .LeftItem-col {
    margin-top: 45px;
  }
}
@media (max-width: 375px) {
  .JobItemList {
    font-size: 11px;
  }
  .logo {
    width: 70px;
  }
  .LeftItem-col {
    margin-left: 0;
  }
  .position {
    font-size: small;
  }
}
/* end Job Item List */
