.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  width: fit-content;
}

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/

.App-header {
  background-color: hsl(180, 29%, 50%);
  /* display: flex; */
}

/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
